body{
    font-family:Work Sans,Arial,sans-serif;
  }
  .list{
    display:flex;
    list-style-type:none;
  }
  .docplanner-header{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-around;
    background-color: #fff;
    border: #f5f4f4 hidden;
    
  }
  .header-menu ul li {
    margin-left:20px;
  }
  a{
    text-decoration:none;
    color:#ababab
  }
  .active{
    color:#54b59c;
  }
  .header-menu ul a:hover{
    color:#54b59c;
  }
  
  /*section 1*/
  #logoo{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .lead__logo h1{
    display:flex;
    justify-content:center;
    color:#00b39b;
    margin-top:1cm;
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 2.125rem;
    line-height: 1.3;
  }
  .sec1p{
    display:flex;
    justify-content:space-evenly;
    
  }
  .sec1p p{
    margin:60px 0;
    font-weight:400;
    color:#747474;
    line-height:1.7;
    font-size:17px;
    padding:10px;
    
  }
  .section1{
    margin:0px 230px;
  }
  
/*section 2*/
.section2{
  display:flex;
  justify-content:space-between;
  margin:0px 230px;
  
}
.patients{
  background-color:#00ccb1;
  border-radius:15px;
  padding:2em 2em 1em;
  margin-right: 20px;
  width:50%;
  height:300px;
}
.patients:hover{
  background-color:#00b39b;
}
.patients h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight:400;
}
.patients h2{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size:1.5em;
  font-weight:300;
  line-height:1.2;
}

.doctors{
  background-color: #3d83df;
  border-radius:15px;
  padding:2em 2em 1em;
  margin-right: 20px;
  width:50%;
}
.doctors:hover{
  background-color:#1662c6;
}
.doctors h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight:400;
}
.doctors h2{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size:1.5em;
  font-weight:300;
  line-height:1.2;
}
.doctors .selec{
position:relative;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clinics{
  background-color: #192e45;
  border-radius:15px;
  padding:2em 2em 1em;
  width:50%;
}
.clinics:hover{
  background-color:#1b2734;
}
.clinics h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight:400;
}
.clinics h2{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size:1.5em;
  font-weight:300;
  line-height:1.2;
}
.clinics .selec{
position:relative;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.selec select{
  text-decoration: underline;
  background-color: transparent;
  border:0;
  color:#fff;
  font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
  }
  /*section 3*/
  .section3{
    display:flex;
    margin:40px 230px;
  }
  .sec3-left h1{
   
    font-size: 1.625em;
    color: #00b39b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    line-height: 1.3;
  }
  .sec3-right .sec3-right-logos{

    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;

  }
.sec3-right-logos li{
    font-size: 10;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    padding: 5px 0 5px 5px;
    width: auto;
    line-height:0.2;
  }
  .sec3-right .sec3-right-logos li a svg{
    fill: #c4c4c4;
    width: 140px;
    height: auto;
  }
  .sec3-right .sec3-right-logos li img{
    filter:grayscale(10);
  }
  .sec3-right .sec3-right-logos li a svg:hover{
    fill:#00b39b;
  }
/*section 4*/
.section4{
  background-color: #daf7f6;

}
.left-right{
  margin:40px 230px;
  display: flex;
  justify-content: space-evenly;
}
.sec4-left h1{
  font-size: 2.125rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -.3px;
}
.sec4-left p{
  margin: 1.6em;
  margin-left:0;
  color: #52b7a3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 415px;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.7142857143;
}
.sec4-right .part12{
  display: flex;
  flex:1;
  
  }
.sec4-right .part34{
  display: flex;
  flex:1;
  }  
  .sec4-right .part12 .part1 {
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    padding:20px;
    margin-top: 20px;
    text-align: center;
    margin-right:30px;
    margin-left: 100px;
    margin-bottom: 15px;
    height:250px;
  }
  .sec4-right .part12 .part1 h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  }
  .sec4-right .part12 .part1 p{
    margin: 0;
    font-size: .8125em;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #52b7a3;
    line-height: 1.3;
  }
  .sec4-right .part12 .part2 {
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    padding:20px;
    margin-top: 10px;
    text-align: center;
    height: 250px;
    margin-bottom: 0;
    height:230px;
  }
  .sec4-right .part12 .part2 h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  }
  .sec4-right .part12 .part2 p{
    margin: 0;
    font-size: .8125em;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #52b7a3;
    line-height: 1.3;
  }
  
  .sec4-right .part34 .part3 {
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    padding:20px;
    margin-top:10px;
    text-align: center;
    margin-right:30px;
    margin-left: 100px;
    margin-bottom: 20px;
    height:250;
  }
  .sec4-right .part34 .part3 h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  }
  .sec4-right .part34 .part3 p{
    margin: 0;
    font-size: .8125em;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #52b7a3;
    line-height: 1.3;
  }

  .sec4-right .part34 .part4 {
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    padding:20px;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 40px;
    height:230px;
  }
  .sec4-right .part34 .part4 h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  }
  .sec4-right .part34 .part4 p{
    margin: 0;
    font-size: .8125em;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #52b7a3;
    line-height: 1.3;
  }
  /*section 5*/
  .section5{
    margin:0px 500px;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
  }
  .section5 h1{
    font-size: 2.1428571429em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -.3px;
    line-height: 1.3;
  }
  .section5 p{
    line-height: 1.7142857143;
    margin: 1.6em 0;
    font-size: .875em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #52b7a3;
  }
  /*section 6*/
  .section6{
    margin:0px 230px;
  }
.sec6-div1 .hope1{
  display:flex;
  justify-content: space-evenly;
}
.sec6-div1 .hope2{
  display:flex;
  justify-content: space-evenly;
}
.sec6-div1 .hope3{
display: flex;
margin:0;
}
.sec6-div1 .office{
  width: 33%;
padding:2em 2em 2em 2em;
margin-left: 10px;

}
.sec6-div1 .office a{
  background: #fff;
  border: 1px solid rgba(0,0,0,.03);
  border-radius: 6px;
  overflow: hidden;
}
.sec6-div1 .office img{
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
.sec6-div1 .office .office__desc{
  font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
    color: #747474;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec6-div1 .office .office__desc .btn btn--small{
  font-size: .625rem;
  padding: 1em 1.5em;
  display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: #3d83df;
}
 /*section 7*/
 .section7{
   margin: 0px 230px;
   text-align: center;
 }
 .section7 h1{
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
 }
/*section 8*/
.the-footer {
  border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;

}

.section__footer {
font-size: 12px;
    color: #ababab;
}
.section__footer p a{
  text-decoration: none;
    color: #3d83df;
    outline: 0;
}